<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">about me</h2>
          <p>I am father to two wonderful young boys and an experienced product engineering leader living in Minneapolis, MN. I am passionate about being active, people development, workplace equity and inclusion, and building products customers love.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">what I do</h2>
          <p>I am Director of Engineering at Samsung SmartThings where I guide and lead engineering teams working on cutting-edge Internet-of-Things (IoT) products.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->