<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">about me</h2>
          <p>I am father to two young boys and a product engineering leader living in Minneapolis, MN. I am driven to better myself and humanity through developing people, advocating for diversity and inclusion, and building products that people love.
            I am passionate about bettering myself, people development and leadership, technology, and science.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">what I do</h2>
          <p>I am Director of Engineering at <a href="https://www.smartthings.com/">Samsung SmartThings</a> where I guide, lead, and develop engineering teams working on cutting-edge Internet-of-Things (IoT) products and services. 
            I am a member of the open-source project <a href="https://www.home-assistant.io/">Home Assistant</a>. I run, bike, ski, hike, play tennis, and enjoy being active and spending time outdoors.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">connect with me</h2>
          <p>I would love to hear from you:
            <ul>
              <li><a href="https://www.linkedin.com/in/andrewsayre/" title="Andrew Sayre (@andrewsayre) on LinkedIn">LinkedIn (@andrewsayre)</a></li>
              <li><a href="https://github.com/andrewsayre" title="Andrew Sayre (@andrewsayre) on GitHub">GitHub (@andrewsayre)</a></li>
              <li><a href="https://www.instagram.com/dgtldilemma/" title="Andrew Sayre (@dgtldilemma) on Instagram">Instagram (@dgtldilemma)</a></li>
              <li><a href="https://twitter.com/dgtldilemma" title="Andrew Sayre (@dgtldilemma) on Twitter">Twitter (@dgtldilemma)</a></li>
              <li><a href="https://www.strava.com/athletes/71522222" title="Andrew Sayre on Strava">Strava</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>