header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: url('../img/masthead.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(5rem + 55px);
    padding-bottom: 5rem;
    .masthead-content {
      .masthead-heading {
        font-size: 5rem;
      }
      .masthead-subheading {
        font-size: 3rem;
      }
    }
  }
}
